/* Google Fonts Import */

.uncial-antiqua-regular {
  font-family: "Uncial Antiqua", system-ui;
  font-weight: 400;
  font-style: normal;
}

.libre-baskerville-regular {
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
  font-style: normal;
}

/* Main Style */ 

body {
  margin: 0;
  padding: 0;
  background-color: #fdeca6;
  font-family: "Libre Baskerville", serif;
  color: #2b464f;
  min-height: 100vh;
  position: relative;
  padding: 40px 20px;
  overflow: hidden;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

/*Hero/ Background Image */

#background-image {
position: fixed;
bottom: 0;
left: 0;
width: 100%;
height: 50%; /* Adjust height as needed */
background-image: url('../assets/images/tarotbg.png'); 
background-size: contain; 
background-repeat: no-repeat;
background-position: center bottom;
z-index: -1;
}

/* Headings */

h1 {
  font-family: "Uncial Antiqua", system-ui;
  font-size: 5rem;
  color: goldenrod;
  text-shadow: 1px 1px rgb(212, 132, 3);
  /*color: #2b464f;*/
  margin: -0.95rem 0;
  /*min-height: 15vh;*/
}

h2 {
  font-family: "Uncial Antiqua", system-ui;
  font-size: 1.8rem;
  color: goldenrod;
  text-shadow: 1px 1px rgb(212, 132, 3);
  /*color: #2b464f;*/
  margin: -0.75rem 0 2.1rem;
}

h3 {
  text-align: center;
  font-family: "Uncial Antiqua", system-ui;
  color: #fff;
  background-color: goldenrod;
  border-radius: 5px;
  box-shadow: 0 0 0 1px #fff, 4px 4px 0 0 goldenrod;
  /*width: calc(100% - 15px);*/
  min-width: 290px;
  padding: 8px 6px;
  max-width: 625px;
  /*border-top:2px solid #fff;
  border-bottom: 2px solid #fff;*/
  margin-top: 0px;
}

/* Inner shadow tutorial: https://devdevout.com/css/css-inner-shadow */


.inner-shadow-btn {
  width: 160px;
  height: 40px;
  box-shadow: inset rgba(248, 151, 138, 0.5) 0px 0px 40px 0px, rgba(248, 170, 170, 0.3) 0px 30px 100px -24px;
}


/* Buttons */

#buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#quiz-button {
  background-color: #ed786c;
  color: #fff;
  font-family: "Libre Baskerville", serif;
  box-shadow: 0 0 0 1px #fff, 4px 4px 0 0 #ed786c;
  font-weight: bold;
  border-radius: 5px;
  border: 0px;
  height: 40px;
  width: 160px;
  margin-top: 20px;
  /*box-shadow: 0px 9px 30px rgba(255, 149, 5, 0.1);*/
}

#quiz-button-instructions {
  background-color: #ed786c;
  color: #fff;
  box-shadow: 0 0 0 1px #fff, 4px 4px 0 0 #ed786c;
  font-family: "Libre Baskerville", serif;
  font-weight: bold;
  border-radius: 5px;
  border: 0px;
  height: 40px;
  width: 160px;
  margin: 0;
}

#reading-button {
  background-color: #ed786c;
  color: #fff;
  box-shadow: 0 0 0 1px #fff, 4px 4px 0 0 #ed786c;
  font-family: "Libre Baskerville", serif;
  font-weight: bold;
  border-radius: 5px;
  border: 0px;
  height: 40px;
  width: 160px;
  margin-top: 30px;
}

#quiz-button-back {
  background-color: #ed786c;
  box-shadow: 0 0 0 1px #fff, 4px 4px 0 0 #ed786c;
  color: #fff;
  font-family: "Libre Baskerville", serif;
  font-weight: bold;
  border-radius: 5px;
  border: 0px;
  height: 40px;
  /*width: 115px;*/
  width: 76px;
  margin: -5px 0 0 0;
}

#next-question-button {
  background-color: #BA55D3;
  box-shadow: 0 0 0 1px #fff, 4px 4px 0 0 #ed786c;
  font-family: "Libre Baskerville", serif;
  font-weight: bold;
  border-radius: 5px;
  border: 0px;
  height: 40px;
  /*width: 115px;*/
  width: 76px;
  margin: -3px 0 0 -2px;
  /*margin: -3px 3px 0 -2px;*/

}

#next-question-button:hover {
  background-color: #2b464f;
  box-shadow: 0 0 0 1px #fff, 4px 4px 0 0 #ed786c;
}

button {
  /*background-color: #f494e3;*/
  background-color: #BA55D3;
  color: #fff;
  font-family: "Libre Baskerville", serif;
  font-weight: bold;
  border-radius: 5px;
  border: 0px;
  height: 40px;
  width: 240px;
  margin: 10px 5px 0 5px;
}

button:hover {
  background-color: #BA55D3;
}

#toggle-audio {
  height: 40px;
  width: 76px;
  background-color: #ed786c;
  box-shadow: 0 0 0 1px #fff, 4px 4px 0 0 #ed786c;
  color: #fff;
  margin: -3px 1px 0 1px;
}

/* Tarot Reading */

#tarot-reading {
  display: none;
  height: 650px;
  width: 600px;
  border-radius: 5px;
  background-color: #fdeca6;
  z-index: 99;
}

/* Tarot Quiz */
/* Tarot Quiz Layout */

#tarot-quiz {
  position: fixed;
  top: 148px; /*media queries need to start at 768px*/
  left: 0;
  right: 0;
  bottom: 0; 
  background-color:#fdeca6;
  z-index: 90;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

/* Box shadow code: https://htmlcssfreebies.com/css-box-shadow-examples/ */

#quiz-container {
  position: relative; 
  text-align: center;
  padding: 10px;
  margin: 0 10px 10px 10px;
  max-width: 625px; /*test for responsiveness */
  height: 350px; /*edited 09/05 to try layout solutions */
  border-radius: 5px;
  box-shadow: 0 0 0 2px goldenrod, 6px 6px 0 0 goldenrod;
  /*box-shadow: 0 1px 1px rgba(0,0,0,0.15), 0 2px 2px rgba(0,0,0,0.15), 0 4px 4px rgba(0,0,0,0.15), 0 8px 8px rgba(0,0,0,0.15);*/
  /*background-color: rgba(255, 255, 255, 0.6);*/
  background-color: rgb(246, 244, 244);
  /*background-image: linear-gradient(to right, lightgray, #f494e3);*/
  overflow: auto; 
}

/* Quiz Instructions */
#quiz-instructions {
  position: fixed;
  top: 148px; /*media queries need to start at 768px*/
  left: 0;
  right: 0;
  bottom: 0; 
  background-color:#fdeca6;
  z-index: 90;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

#instructions-container {
  position: fixed;
  top: 148px; /*media queries need to start at 768px*/
  left: 0;
  right: 0;
  bottom: 0; 
  background-color:#fdeca6;
  z-index: 90;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

/* Box shadow code: https://htmlcssfreebies.com/css-box-shadow-examples/ */

#instructions-content {
  width: 95%;
  max-width: 600px;
  height: auto;
  /*padding-left: 10px;*/
  /*background-color: rgba(255, 255, 255, 0.9);*/
  background-color: rgb(246, 244, 244);
  border-radius: 5px;
  box-shadow: 0 0 0 2px goldenrod, 8px 8px 0 0 goldenrod;
}

h4 {
  text-align: left;
  font-weight: bolder;
  padding-left: 20px;
}

ul {
  margin-top: -8px;
}

li {
  line-height: 24px;
}

/* Tutorial Credit: Stack Overflow: "Can I set an opacity only to the background image of a div?" */

#quiz-container::before {
  content: "";
  position: absolute; 
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('../assets/images/quizbg.png'); 
  background-color: #fff;
  background-size: contain;
  opacity: 0.2; 
  z-index: 0; 
}

#quiz-container div,
#quiz-container button {
  position: relative; 
  z-index: 1; 
}

.hidden {
  display: none;
}

/* Tarot Quiz Functionality */

#questions {
  margin-top: 5px;
  font-weight: bold;
}

/* Code base for correct answer animation: https://www.sliderrevolution.com/resources/css-button-hover-effects/ */

#answers {
  margin: 5px 0;
  transition: transform 0.2s ease;
}

#quiz-results {
  position: relative;
  margin: 5px 0;
  min-height: 300px;
  min-width: 300px;
}

/* Tutorial: https://www.w3schools.com/Css/css3_2dtransforms.asp */

#results-image {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  max-height: 150px;
  z-index: -5;
  margin-top: -5px;
}

#results-blurb {
  margin-top: 9px;
  width: 300px;
  height: 250px;
}


#points {


}

.correct {
 font-weight: bold;
 animation: pulse 0.9s ease;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}


.incorrect {
  text-decoration: line-through;
  animation: pulse 0.2s ease;
}

/* Text Effects */  
/* Glow Effect */
@-webkit-keyframes glow {
from {
  text-shadow: 0 0 5px #fff, 0 0 10px #fdeca6, 0 0 15px #fde380 , 0 0 20px #fff, 0 0 25px #fde380, 0 0 30px #fff, 0 0 35px #fff;
}
to {
  text-shadow: 0 0 10px #fff, 0 0 15px #fdeca6, 0 0 20px #fde380, 0 0 25px #fde380, 0 0 30px #fff , 0 0 35px #fff, 0 0 40px #fde380;
}
}

.glow {
-webkit-animation: glow 1s ease-in-out infinite alternate;
-moz-animation: glow 1s ease-in-out infinite alternate;
animation: glow 1s ease-in-out infinite alternate;
}

.h2glow {
-webkit-animation: glow 2s ease-in-out infinite alternate;
-moz-animation: glow 2s ease-in-out infinite alternate;
animation: glow 2s ease-in-out infinite alternate;  
}


/* Shimmer */
/* Base code credit to Joshua Pekera https://codepen.io/joshuapekera/pen/xGjMMq */
#shimmer {
text-align: center;
color: rgba(255, 255, 255, 0.1);
background: -webkit-gradient(linear, left top, right top, from(#2b464f), to(#2b464f), color-stop(0.5, #fff));
background: -moz-gradient(linear, left top, right top, from(#2b464f), to(#2b464f), color-stop(0.5, #fff));
background: gradient(linear, left top, right top, from(#2b464f), to(#2b464f), color-stop(0.5, #fff));
-webkit-background-size: 125px 100%;
-moz-background-size: 125px 100%;
background-size: 125px 100%;
-webkit-background-clip: text;
-moz-background-clip: text;
background-clip: text;
-webkit-animation-name: shimmer;
-moz-animation-name: shimmer;
animation-name: shimmer;
-webkit-animation-duration: 3s;
-moz-animation-duration: 3s;
animation-duration: 3s;
-webkit-animation-iteration-count: infinite;
-moz-animation-iteration-count: infinite;
animation-iteration-count: infinite;
background-repeat: no-repeat;
background-position: 0 0;
background-color: #222;
color: transparent;
}

@-moz-keyframes shimmer {
0% {
    background-position: top left;
}
100% {
    background-position: top right;
}
}

@-webkit-keyframes shimmer {
0% {
    background-position: top left;
}
100% {
    background-position: top right;
}
}

@-o-keyframes shimmer {
0% {
    background-position: top left;
}
100% {
    background-position: top right;
}
}

@keyframes shimmer {
0% {
    background-position: top left;
}
100% {
    background-position: top right;
}
}


/* Media Queries */
/* Media query: Mobile phones (375px and below) */

@media (max-width: 374px) {
  #next-question-button {
    margin-bottom: 20px;
  }
}   

/* Media query: Tablets and larger (768px and above) */
/*
@media (min-width: 768px) and (min-height: 642px) {
#tarot-teller {
position: fixed;
bottom: 10px;
left: 0;
width: 100%;
height: 26%; 
background-image: url('../assets/images/tarotteller1.png'); 
background-size: contain; 
background-repeat: no-repeat;
background-position: center bottom;
}
}*/

/* Media Query: Screens wider than 780px and taller than 750px */
@media (min-width: 781px) and (min-height: 751px) {
  #quiz-container {
    max-width: 625px;
  }
}

/* Media Query: Screens heights less than 580px */

@media (max-height: 580px) {
#reading-button {
  margin-top: -15px;
}
}

/* Media Query: Screens taller than 1010px */
@media (min-height: 1010px) {
 #background-image {
    height: 45%;
    z-index: 97;
  }
}

/* Media Query small laptops and above */
@media (min-width: 1439px) {
  h1 {
    font-size: 6rem;
  }

  h2 {
    font-size: 2.5rem;
  }

  #tarot-quiz,
  #instructions-container,
  #quiz-instructions {
    top: 200px;
  }
}

/* Media Query: Desktops */
@media (min-width: 2000px) {
  h1 {
    font-size: 9.5rem;
  }

  h2 {
    font-size: 3.5rem;
  }

  #tarot-quiz,
  #quiz-instructions,
  #instructions-container {
    top: 340px;
  }

}



/* Media Queries Needed for landscape mode */